:root{
    --darkgreen: #245953;
    --white: #f4f0f0;
    --lightgreen :#8f9fa6;
    --darkblue: #146C94;
    --purewhite: #fbfbfb;
    --green: #609966;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbfbfb;
    opacity: 1;
    background-image:  radial-gradient(#050847 0.75px, transparent 0.75px), radial-gradient(#050847 0.75px, #fbfbfb 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}
.container {
    max-width: 500px;
    width: 100%;
    background-color: #F4F0F0;
    box-shadow: 10px 10px 14px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 50px;
    text-align: center;
    border-radius: 25px;
    height: auto;
}
h1,
p:first-child{
    align-items: center;
    padding: 20px;
}
p{
    font-weight: 600;
    font-size: 16px;
}
p:nth-child(3){
    margin-top: 20px;
}
button{
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    width: 40%;
    font-weight: 700;
    font-size: 1em;
    background-color: #609966;
}
button:hover{
    background-color: #245953;
}